{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

{% if message %}

    <div class="alert alert-primary" role="alert">
       {{ message }}
    </div>
    
{% endif %}

<form action="{{ url_for('index') }}" method="POST">
    <div class="form-group mb-1">
        <label for="Username">Username</label>
        <input type="text" class="form-control input" id="InputText2">
    </div>
    <div class="form-group mb-1">
        <label for="Password">Password</label>
        <input type="password" class="form-control input" id="InputPassword2">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Not a member? <a href="{{ url_for('register') }}">Register here</a></p>

<img src="{{ url_for('static', filename = 'q4nuthe1v3y41.jpg') }}">

{% endblock %}